<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :msg %><br>
    <%= f.text_field :msg %>
    <%= f.hidden_field :room_id %>
    <%= f.hidden_field :user_id %>
  </div>

  <div id='submit-msg' class="waves-effect deep-orange accent-2">Submit</div>

<% end %>
