<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<section class='messages'>
<ul>
  <% Message.where(room_id: @room.id).each do |msg| %>
    <li><%= msg.msg %></li>
  <% end %>
</ul>
</section>

<%= render partial: "messages/form" %>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
